name : Install Buddy-mlir

on:
  pull_request:
  push:
    branches:
      - main
      - GitHubActions # For debugging

jobs:
  installBuddy-mlir: 
    runs-on: ubuntu-latest

    steps:
    - name: Check MLIR cache
      id: cache-mlir
      uses: actions/cache@v2
      with:
        path: llvm
        key: ${{ runner.os }}-mlir

    - name: Install dependencies
      if: steps.cache-mlir-build.outputs.cache-hit != 'true'
      run: |
        sudo apt-get update
        sudo apt-get install ninja-build 

    - name: Build MLIR
      if: steps.cache-mlir-build.outputs.cache-hit != 'true'
      run: |
        cd buddy-mlir
        mkdir llvm/build
        cd llvm/build
        cmake -G Ninja ../llvm -DLLVM_ENABLE_PROJECTS=mlir -DLLVM_TARGETS_TO_BUILD="host" -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=ON
        cmake --build . --target check-mlir 
